html {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

.animate-scroll {
    animation: scroll 60s linear infinite;
}

.animate-scroll-fast {
    animation: scroll 30s linear infinite;
}

.animate-scroll-slow {
    animation: scroll 90s linear infinite;
}

.animate-scroll-reverse {
    animation: scroll-reverse 60s linear infinite;
}

@keyframes scroll-reverse {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}